body {
  margin: 0;
  /* background-image: url('../img/background.png');
  background-position: center;
  background-size: 33%; */
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.logo {
  text-align: center;
  margin-top: 40px;
}

.logo img {
  width: 20%;
}

.pokedex {
  width: 100%;
  height: 100%;
}

.pokedex > h1 {
  padding: 30px 0 0 0;
}

.pokemon-list {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 5% 10%;
}

.pokeCard {
  background-color: #f1eadc;
  margin-bottom: 5px;
  border-radius: 11%;
}

.pokeCard:hover {
  background-color: #f8f6f2;
  cursor: pointer;
}

.pokeName {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}

.modal_container {
  width: 100%;
  height: 100%;
  z-index: 500;
}

.modal {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(223, 90, 90);
  height: 500px;
  width: 700px;
  text-align: center;
}

.modal_types,
.modal_name,
.modal_statsContainer {
  text-transform: uppercase;
}

.modal_contents {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
}

.modal_left,
.modal_right {
  width: 100%;
}

.modal_left {
  text-align: center;
}

.modal_types {
  font-size: 30px;
  font-weight: 600;
  padding: 15% 0;
}

/* .modal_types:nth-child(1) {
  padding: 5% 0;
} */

.modal_profile,
.modal_stats {
  padding-top: 50px;
  width: 100%;
}

.modal_profile th {
  padding: 0 6%;
  font-size: 25px;
}

.modal_profile tr {
  font-size: 20px;
}

.modal_stats th {
  padding: 0 6%;
  font-size: 30px;
}

.modal_id > h1 {
  text-align: right;
  padding-right: 3%;
  font-size: 40px;
  margin: 0;
}

.modal img {
  height: 300px;
}

.modal_closeBtn {
  font-size: 40px;
  position: fixed;
  margin: auto;
  top: 680px;
  left: 0;
  right: 0;
}

.modal_closeBtn > i:hover {
  cursor: pointer;
}

.loader {
  text-align: center;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
}

.loader img {
  text-align: center;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: -10%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.466);
  opacity: 0.8;
}

.fire {
  color: #fa5543;
}
.poison {
  color: #a65b9e;
}
.psychic {
  color: #fa65b5;
}
.grass {
  color: #8cd851;
}
.ground {
  color: #e8c755;
}
.ice {
  color: #96f1ff;
}
.rock {
  color: #cdbc72;
}
.dragon {
  color: #8874ff;
}
.water {
  color: #56aeff;
}
.bug {
  color: #c2d120;
}
.dark {
  color: #8a6955;
}
.fighting {
  color: #a75544;
}
.ghost {
  color: #7874d4;
}
.steel {
  color: #c4c2db;
}
.flying {
  color: #79a4ff;
}
.electric {
  color: #fde53c;
}
.fairy {
  color: #f9aeff;
}

.animate__bounceInLeft0 {
  animation: bounceInLeft;
  animation-duration: 0.3s;
}

.animate__bounceInLeft1 {
  animation: bounceInLeft;
  animation-duration: 0.6s;
}

.bounceInDown {
  animation: bounceInDown;
  animation-duration: 0.6s;
}

.tada {
  animation: tada;
  animation-duration: 0.8s;
}

.modal_right:hover {
  animation: tada;
  animation-duration: 0.8s;
}

.bounceOutDown {
  animation: bounceOutDown;
  animation-duration: 1s;
}

.rollIn {
  animation: rollIn;
  animation-duration: 1.3s;
}

.fadeIn {
  animation: fadeIn;
  animation-duration: 2s;
}
