body {
  margin: 0;
  font-family: 'Audiowide', cursive;
}

h1 {
  margin: 0;
  font-size: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.nav_img {
  width: 100px;
}

.logo {
  text-align: center;
  margin-top: 40px;
}

.logo img {
  width: 20%;
}

.pokedex {
  width: 100%;
  height: 100%;
}

.pokeCard {
  border-radius: 11%;
  box-shadow: 2px 4px 5px 0.5px #6d6d6d;
  margin: 1%;
}

.pokeCard:hover {
  background-color: #f8f6f2;
  cursor: pointer;
}

.pokeName {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
  width: 130px;
}

.modal-content {
  background: #4b6584;
  box-shadow: 5px 4px 10px 1px #6d6d6d;
}

.modal_types,
.modal_name,
.modal_statsContainer {
  color: white;
  text-transform: uppercase;
}

.modal_contents {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
}

.modal_left,
.modal_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal_left {
  text-align: center;
}

.modal_types {
  font-size: 30px;
  font-weight: 600;
  padding: 15% 0;
}

.modal_profile,
.modal_stats {
  padding-top: 50px;
  width: 100%;
}

.modal_profile th {
  padding: 0 6%;
  font-size: 25px;
}

.modal_profile tr {
  font-size: 20px;
}

.modal_stats th {
  padding: 0 6%;
  font-size: 30px;
}

.modal_id {
  color: white;
  font-size: 40px;
  margin: 0;
}

.modal img {
  height: 300px;
}

.modal_closeBtn {
  font-size: 40px;
}

.modal_closeBtn > i:hover {
  cursor: pointer;
}

.loader {
  text-align: center;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
}

.loader img {
  text-align: center;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: -10%;
  bottom: 0;
  opacity: 0.8;
}

.fire {
  color: #fa5543;
}
.poison {
  color: #a65b9e;
}
.psychic {
  color: #fa65b5;
}
.grass {
  color: #8cd851;
}
.ground {
  color: #e8c755;
}
.ice {
  color: #96f1ff;
}
.rock {
  color: #cdbc72;
}
.dragon {
  color: #8874ff;
}
.water {
  color: #56aeff;
}
.bug {
  color: #c2d120;
}
.dark {
  color: #8a6955;
}
.fighting {
  color: #a75544;
}
.ghost {
  color: #7874d4;
}
.steel {
  color: #c4c2db;
}
.flying {
  color: #79a4ff;
}
.electric {
  color: #fde53c;
}
.fairy {
  color: #f9aeff;
}

.animate__bounceInLeft0 {
  animation: bounceInLeft;
  animation-duration: 0.3s;
}

.animate__bounceInLeft1 {
  animation: bounceInLeft;
  animation-duration: 0.6s;
}

.bounceInDown {
  animation: bounceInDown;
  animation-duration: 0.6s;
}

.tada {
  animation: tada;
  animation-duration: 0.8s;
}

.modal_right:hover {
  animation: tada;
  animation-duration: 0.8s;
}

.bounceOutDown {
  animation: bounceOutDown;
  animation-duration: 1s;
}

.rollIn {
  animation: rollIn;
  animation-duration: 1.3s;
}

.fadeIn {
  animation: fadeIn;
  animation-duration: 2s;
}

.fadeInUp {
  animation: fadeInUp;
  animation-duration: 1s;
}

@media (min-width: 320px) and (max-width: 425px) {
  li,
  th,
  tr,
  td,
  i {
    font-size: 15px !important;
  }
  .modal_name {
    padding: 0;
  }
  .modal_img {
    height: 200px !important;
  }
  .modal_name > h1 {
    font-size: 20px !important;
  }
  .modal_id {
    font-size: 30px !important;
  }
}
